h1{
  color: #699DF2;
  font-size: 200%;
  font-family: "helvetica";
}
p{
  font-family: "helvetica";
  text-indent: 20px;
  margin-left:20px;
}
#white{
  color: black;
  background-color: #FFFFFF;
}
#red{
  color: white;
  background-color: #FF0000;
  margin-right: 0px;
  padding-bottom: 200px;
  padding-top: 10px;
  padding-right: 120px;
  padding-left: 120px;
  border-radius: 25px;
  float: right;
}
#content{
  font-size: 75%;
  background-color: #383952;
  width: 400px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #201F23;
}
.selected {
  color: purple;
}
#dog{
  color: #AA75EA;
}
#right{
  float: right;
}
body {
    margin: 2em;
}
#output{
  color: lightblue;
  font-size: 400;
  font-family: "helvetica";
}
